.container_principal {
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.imagem{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.secao_titulo{
    max-width: 800px;
    position: absolute;
    top: 35%;
    background-color: rgba(228, 228, 228, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFD786;
    padding: 10px;
    font-size: 50px;
}

.paragrafo{
    background-color:  rgba(0, 0, 0, 0.6);
    font-size: 30px;
    color: #FFD786;
}

/* Responsivo */
@media (max-width: 768px) {
    .titulo {
        font-size: 40px;
    }
    .paragrafo{
        font-size: 25px;
    }

    .secao_titulo{
        top: 15%;
        border-radius: 5px;
    }
    
}

@media (max-width: 520px) {
    .titulo{
        font-size: clamp(20px, 10vw, 40px);
}
.paragrafo{
    font-size: clamp(14px, 35vw, 25px);
}
.secao_titulo{
    top: 10%;
    border-radius: 5px;
}
}
