.container_principal {
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.imagem{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.secao_titulo{
    max-width: 800px;
    position: absolute;
    top: 35%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    background: rgba(0, 0, 0, 0.3);
    color: #FFD786;
    padding: 10px;
    font-size: 50px;
}

.paragrafo{
    background: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    color: #FFD786;
}

/* Responsivo */
@media (max-width: 768px) {
    .titulo {
        font-size: 40px;
    }
    .paragrafo{
        font-size: 25px;
    }

    .secao_titulo{
        max-width: 800px;
        position: absolute;
        top: 15%;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 520px) {
        .titulo{
            font-size: clamp(20px, 10vw, 40px);
    }
    .paragrafo{
        font-size: clamp(14px, 35vw, 25px);
    }
    }
    
}

