.container {
    text-align: center;
    margin: 0px auto;
}


.botao{
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.botao:hover {
    background-color: #388E3C;
}
